
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
MWSE DLL/.vs/
MWSE/.vs/
docs/build
docs/source/.vscode/
docs/source/_build/
.vscode/
.vs/
build/dist/
/deps/LuaJIT/src/*.exp
/deps/LuaJIT/src/jit/vmdef.lua
/deps/LuaJIT/src/lua51.dll
/MWSE/BuildDate.h
/misc/package/Data Files/MWSE/.luacheckrc
/misc/package/Data Files/MWSE/.luacompleterc
/packages/
misc/package/Data Files/MWSE/core/lpeg.dll
/docs/site/
