#include "Resource.h"

1 VERSIONINFO
FILEVERSION 0,9,5,8983
PRODUCTVERSION 0,9,5,8983
FILEFLAGSMASK  0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x4L
FILETYPE 0x1L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "LegalCopyright", "Copyright (c) 2003-2017 MWSE Developers"
			VALUE "FileDescription", "MorrowindScriptExtender main dll"
			VALUE "FileVersion", "0.9.5-alpha.20171006"
			VALUE "OriginalFilename", "Mwse.dll"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END