#include "Resource.h"

IDI_ICON1 ICON "MWScriptExtender.ico"

1 VERSIONINFO
FILEVERSION 0,9,3,0
PRODUCTVERSION 0,9,3,0
FILEFLAGSMASK  0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x4L
FILETYPE 0x1L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "LegalCopyright", "Copyright (c) 2007, Timeslip, GPL"
			VALUE "FileDescription", "MorrowindScriptExtender Loader"
			VALUE "FileVersion", "0.9.3"
			VALUE "OriginalFilename", "Loader.exe"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END